.btnColor {
  background-color: var(--application-base-color) !important;
  color: var(--defaultColor) !important;
}

.btnColor:disabled {
  background-color: var(--application-base-color) !important;
  color: var(--defaultColor) !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}

.btnColor:hover {
  background-color: var(--application-base-color) !important;
  opacity: 0.8 !important;
  color: var(--defaultColor) !important;
}

.outer {
  border: 1px solid var(--application-base-color) !important;
  color: var(--application-base-color) !important;
}

.outer:hover {
  background-color: var(--application-base-color) !important;
  color: var(--defaultColor) !important;
}

.both {
  background-color: #241571 !important;
  color: white !important;
  border-color: #241571;
}
.code {
  background-color: #f0f6fe !important;
  color: black !important;
  border-color: #f0f6fe !important;
}
.submitBtn {
  height: 45px;
  background: var(--application-base-color) !important;
  color: var(--defaultColor) !important;
  width: 30%;
}
.subHeader {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0 10px 0;
}
.inputField {
  height: 42px;
}
.picker,
.picker:hover,
.picker:focus,
.picker:active {
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
}

