.allocateBgColor,
.allocateBgColor:hover,
.allocateBgColor:focus,
.allocateBgColor:active {
  background: var(--allocateBgColor) !important;
  color: var(--defaultColor);
  border: none !important;
  box-shadow: none;
}

.pendingBgColor,
.pendingBgColor:hover,
.pendingBgColor:focus,
.pendingBgColor:active {
  background: var(--pedingBgColor) !important;
  color: var(--defaultColor) !important;
  border: none !important;
  box-shadow: none;
}

.completedBgColor,
.completedBgColor:hover,
.completedBgColor:focus,
.completedBgColor:active {
  color: var(--defaultColor) !important;
  background: var(--completedBgColor) !important;
  border: none !important;
  box-shadow: none;
}

.pendingOverlay :global(.ant-dropdown-menu-item) {
  background: var(--pedingBgColor) !important;
  color: var(--defaultColor) !important;
  font-weight: 900;
  text-transform: uppercase;
}

.completedOverlay :global(.ant-dropdown-menu-item) {
  color: var(--defaultColor) !important;
  background: var(--completedBgColor) !important;
  font-weight: 900;
  text-transform: uppercase;
}