.processedSelect :global(.ant-select-selector) {
  background-color: var(--chart-tab-select-bg-color) !important;
  border: none !important;
}

.contentLayout {
  border-bottom: 1px solid var(--app-header-boder-color);
  background-color: #fff;
  height: 53px;
  box-sizing: border-box;
}

/* .pageTitle {
  color: #03512E;
} */

.pillContainer {
  display: flex;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 5px;
  gap: 2px;
  align-items: center;
}

.pillItem {
  padding: 3px 12px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  color: #666;
  transition: all 0.2s ease;
  border: none;
}

.pillItemActive {
  background-color: #e8f5e9;
  color: #03512E;
  font-weight: 600;
  border: none !important;
}

.underlinedTab {
  cursor: pointer;
  padding: 8px 12px;
  border-bottom: 3px solid transparent;
  color: #888;
  font-size: 14px;
  transition: all 0.2s ease;
}

.underlinedTabActive {
  color: #03512E;
  border-bottom: 3px solid #03512E !important;
  font-weight: bold;
}

.headerBtnColor {
  background-color: var(--application-base-color);
  color: var(--defaultColor);
  padding: 10px;
  border-radius: 8px;
}

.filterSelectAll {}

.tableCheckBox {
  border: 1px solid #a8b3bd;
  padding: 8px 8px;
  border-radius: 10px;
}

.leftArrow {
  background-color: var(--application-base-color);
  color: var(--defaultColor);
  padding: 5px 8px;
  border-radius: 5px;
}

.headerIcon {
  color: var(--app-header-boder-color);
  font-size: 20px;
}

.badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  user-select: none;
}

.badgeActive {
  border: none;
  background-color: var(--application-base-color);
  color: #fff;
}

.badgeInactive {
  border: 2px solid #d9d9d9;
  background-color: transparent;
  color: transparent;
}